table.tablesorter thead tr .sortHead {
    background-image: url(../images/metro-unsorted.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: 0 none;
}
table.tablesorter thead tr .tablesorter-headerAsc {
    background-image: url(../images/metro-white-asc.png);
}
table.tablesorter thead tr .tablesorter-headerDesc {
    background-image: url(../images/metro-white-desc.png);
}