<div id="collectionContentId" name="collectionContentName" th:fragment="content" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{../css/collection.css}"/>
    <script type="text/javascript" th:src="@{../js/collection.js}"></script>
    <div id="collectionFormDivId" name="collectionFormDivName" th:fragment="collection-form" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
        <form id="collection-form" name="collection-form" class="form-horizontal" action="#"
              th:action="@{/collection}"
              th:object="${collectionForm}" method="post">
            <fieldset>
                <div id="collectionRecordsDivId" name="collectionRecordsDivName" class="container-fluid">
                    <div id="collectionSearchCriteriaId" class="form-group col-md-12">
                        <br/>
                        <table id="collectionRecordsTableId" name="collectionRecordsTableName" class="table tableWithoutBorder">
                            <tbody>
                            <tr>
                                <td colspan="1" style="padding-left: 0px;">
                                    <label id="barcodeLabelId" for="barcodeFieldId" style="margin-top: 10px;">Barcode(s)</label>
                                </td>
                                <td colspan="10" class="form-group has-feedback" style="width: 1000px;">
                                    <input id="barcodeFieldId" name="barcodeFieldName" type="text" th:field="*{itemBarcodes}" class="form-control">
                                    <i id="clearBarcodeText" class="fa fa-times form-control-feedback"
                                       aria-hidden="true"
                                       onclick="clearBarcodeText()"
                                       style="cursor: pointer; pointer-events: all; font-size: 17px; margin-top: 15px;"
                                       th:title="clear">
                                    </i>
                                    </input>
                                </td>
                                <td colspan="1" align="right" style="padding-right: 0px;">
                                    <button id="displayRecords" type="submit" name="action" value="displayRecords"
                                            class="btn btn-info active">Display Records
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div id="noteTextDivId">
                            <span id="noteTextSpanId">NOTE: Multiple item barcodes separated by commas(,) can be added to retrieve the records.</span>
                        </div>

                    </div>

                    <div class="form-group col-sm-12">
                        <hr style="border-top-width: 3px;"/>
                    </div>

                    <div id="errorMessageId" class="form-group col-sm-12" data-th-if="*{errorMessage ne null &amp;&amp; errorMessage ne ''}" style="margin-top: -10px;">
                        <span id="errorMessageSpanId" style="font-weight: bold; color: red;" th:text="*{errorMessage}"></span>
                    </div>

                    <div data-th-if="*{showResults}">
                        <div id="collectionResultsDiv" class="form-group col-sm-12 table-responsive">
                            <table id="collectionResults" name="collectionResults" class="table table-hover">
                                <thead style="background-color: grey; color: white; height: 60px;">
                                <tr>
                                    <th></th>
                                    <th>BARCODE</th>
                                    <th>TITLE</th>
                                    <th th:title="'Collection Group Designation'">CGD</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-id="'displayResults-'+ ${searchResultStat.index}" th:each="searchResult,searchResultStat : *{searchResultRows}" class="displayRow">
                                    <input data-th-id="'displayRowBibId-'+ ${searchResultStat.index}" name="displayRowBibId" type="hidden" th:field="*{searchResultRows[__${searchResultStat.index}__].bibId}"/>
                                    <input data-th-id="'displayRowItemId-'+ ${searchResultStat.index}" name="displayRowItemId" type="hidden" th:field="*{searchResultRows[__${searchResultStat.index}__].itemId}"/>
                                    <td>
                                        <img id="inRecapImg" src="images/inRecap.png" alt="In ReCAP" style="width:20px;height:25px;" th:if="${searchResult.availability == 'Available'}"/>
                                        <img id="outImg" src="images/out.png" alt="Out" style="width:20px;height:25px;" th:if="${searchResult.availability == 'Not Available'}"/>
                                    </td>
                                    <td>
                                        <input type="hidden" th:field="*{searchResultRows[__${searchResultStat.index}__].barcode}"/>
                                        <span id="barcodeSpanId" th:text="${searchResult.barcode}"></span>
                                    </td>
                                    <td>
                                        <input type="hidden" th:field="*{searchResultRows[__${searchResultStat.index}__].title}"/>
                                        <a id="titleLinkId" th:href="@{/collectionUpdate(bibId=${searchResult.bibId},itemId=${searchResult.itemId})}" target="_blank" th:text="${searchResult.title}"></a>
                                    </td>
                                    <td>
                                        <input type="hidden" th:field="*{searchResultRows[__${searchResultStat.index}__].collectionGroupDesignation}"/>
                                        <span id="cgdSpanId" th:text="${searchResult.collectionGroupDesignation}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="columnNames" class="col-md-12 form-group">
                            <span id="cgdColumnName">CGD - Collection Group Designation</span>
                        </div>
                        <div id="imgDivId" class="col-md-12 form-group">
                            <img id="inRecapImgId" src="images/inRecap.png" alt="In ReCAP" style="width:20px;height:25px;"/>
                            <span> In ReCAP </span>
                            <img id="outImgId" src="images/out.png" alt="Out" style="width:20px;height:25px;"/>
                            <span> Out </span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>