<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Marc Record</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="recapHeader :: #recapPageHeaderId"></div>
<div id="marcRecordViewDivId" name="marcRecordViewDivName" th:fragment="marcRecordContent">
    <div id="marcRecordFormDivId" name="marcRecordFormDivName" th:fragment="marcRecord-form"
         xmlns:th="http://www.thymeleaf.org"
         th:remove="tag">
        <form id="marcRecord-form" name="marcRecord-form" class="form-horizontal" action="#"
              th:action="@{/openMarcRecord}"
              th:object="${bibliographicMarcRecord}" method="post">
            <fieldset>
                <div id="marcRecordDivId" name="marcRecordDivName">
                    <div class="container">
                        <div class="form-group">
                            <h3 style="font-weight: bold;"><span th:text="${bibliographicMarcRecord.title}"></span></h3>
                        </div>
                        <br/>
                        <div class="form-group">
                            <span style="font-weight: bold;">Author : </span><span th:text="${bibliographicMarcRecord.author}"></span><br/>
                            <span style="font-weight: bold;">Publisher : </span><span th:text="${bibliographicMarcRecord.publisher}"></span><br/>
                            <span style="font-weight: bold;">Published Date : </span><span th:text="${bibliographicMarcRecord.publishedDate}"></span><br/>
                            <span style="font-weight: bold;">Owning Institution : </span><span th:text="${bibliographicMarcRecord.owningInstitution}"></span><br/>
                        </div>
                        <div class="form-group">
                            <span style="font-weight: bold;">Marc Content : </span>
                        </div>
                        <div class="form-group">
                            <table class="col-sm-12">
                                <colgroup>
                                    <col style="width:20%"/>
                                    <col style="width:80%"/>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td><span>tag000</span></td>
                                    <td><span th:text="${bibliographicMarcRecord.tag000}"></span></td>
                                </tr>
                                <tr>
                                    <td><span>Control Number (001)</span></td>
                                    <td><span th:text="${bibliographicMarcRecord.controlNumber001}"></span></td>
                                </tr>
                                <tr>
                                    <td><span>Date and Time (005)</span></td>
                                    <td><span th:text="${bibliographicMarcRecord.controlNumber005}"></span></td>
                                </tr>
                                <tr>
                                    <td><span>Fixed Length Data Element (008)</span></td>
                                    <td><span th:text="${bibliographicMarcRecord.controlNumber008}"></span></td>
                                </tr>
                                <tr th:each="bibDataField : *{bibDataFields}">
                                    <td>
                                        <span style="margin-left: 30px;" th:text="${bibDataField.dataFieldTag}"></span>
                                        <span th:inline="text">[[${bibDataField.indicator1}]][[${bibDataField.indicator2}]]</span>
                                    </td>
                                    <td><span th:text="${bibDataField.dataFieldValue}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>