<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Records</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../css/font-awesome.min.css}"/>
    <script th:src="@{../js/jquery.min.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/jquery.tablesorter.js}"></script>
</head>
<body>
<div th:replace="recapHeader :: #recapPageHeaderId"></div>
<div class="container col-xs-12">
    <ul class="nav nav-tabs nav-justified" id="searchTabs">
        <li id="searchTabListId" name="searchTabListName" th:classappend="${#httpServletRequest.getRequestURI() == '/search' ? 'active':''}">
            <a id="searchTabId" name="searchTabName" href="/search">Search</a>
        </li>
        <li id="collectionTabListId" name="collectionTabListName" th:classappend="${#httpServletRequest.getRequestURI() == '/collection' ? 'active':''}">
            <a id="collectionTabId" name="collectionTabName" href="/collection">Collection</a>
        </li>
        <li id="requestTabListId" name="requestTabListName" th:classappend="${#httpServletRequest.getRequestURI() == '/request' ? 'active':''}">
            <a id="requestTabId" name="requestTabName" href="/request">Request</a>
        </li>
        <li id="reportsTabListId" name="reportsTabListName" th:classappend="${#httpServletRequest.getRequestURI() == '/reports' ? 'active':''}">
            <a id="reportsTabId" name="reportsTabName" href="/reports">Reports</a>
        </li>
    </ul>

    <div class="tab-content">
        <div th:replace="${template} :: content"></div>
    </div>
</div>
</body>
</html>