<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SCSB Solr Index</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../css/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap-datetimepicker.css}"/>
    <script th:src="@{../js/jquery.min.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script th:src="@{../js/bootstrap-datepicker.js}"></script>
    <script th:src="@{../js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{../js/solrIndexer.js}"></script>
    <div th:replace="recapHeader :: #recapPageHeaderId"></div>
</head>

<body>


<div class="container">
    <div class="jumbotron">
        <h1 align="center">SCSB Solr Admin</h1>
    </div>

    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" href="#solrIndex">Solr Index</a></li>
        <li><a data-toggle="tab" href="#matchingAlgorithmSaveReport">Matching Algorithm Save Reports</a></li>
        <li><a data-toggle="tab" href="#generateReports"> Generate Reports</a></li>
    </ul>

    <div class="tab-content">
        <div id="solrIndex" class="tab-pane fade in active">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div id="fullIndexingDiv">
                            <br/><br/>
                            <div class="container">
                                <!-- Horizonatal Form -->
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div th:fragment="index-form" xmlns:th="http://www.thymeleaf.org"
                                             th:remove="tag">
                                            <form id="fullIndex-form" name="fullIndex-form" class="form-horizontal"
                                                  action="#"
                                                  th:action="@{/solrIndexer/fullIndex}"
                                                  th:object="${solrIndexRequest}" method="post">

                                                <fieldset>
                                                    <div class="form-group">
                                                        <label for="numberOfThreads" class="col-sm-4">Number of
                                                            threads</label>

                                                        <div class="col-sm-4">
                                                            <input type="text" th:field="*{numberOfThreads}"
                                                                   class="form-control"
                                                                   id="numberOfThreads"
                                                                   placeholder="Number of threads"/>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <span id="numberOfThreadErrorMessage"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="numberOfDocs" class="col-sm-4">Number of Documents
                                                            to be
                                                            processed per thread</label>

                                                        <div class="col-sm-4">
                                                            <input type="text" th:field="*{numberOfDocs}"
                                                                   class="form-control bfh-number"
                                                                   id="numberOfDocs"
                                                                   placeholder="Number of Docs"/>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <span id="numberOfDocErrorMessage"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="commitInterval" class="col-sm-4">Commit
                                                            Interval</label>

                                                        <div class="col-sm-4">
                                                            <input type="text" th:field="*{commitInterval}"
                                                                   class="form-control"
                                                                   id="commitInterval"
                                                                   placeholder="Commit Interval"/>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <span id="commitIntervalErrorMessage"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="institutionCode" class="col-sm-4">Institution
                                                            Code</label>

                                                        <div class="col-sm-7">
                                                            <select id="institutionCode"
                                                                    class="form-control"
                                                                    style="width: 160px;"
                                                                    th:field="*{owningInstitutionCode}">
                                                                <option value="">ALL</option>
                                                                <option value="PUL">PUL</option>
                                                                <option value="CUL">CUL</option>
                                                                <option value="NYPL">NYPL</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="dateFrom" class="col-sm-4">Date From</label>

                                                        <div class="col-sm-4">
                                                            <input type="text" th:field="*{dateFrom}"
                                                                   class="form-control date"
                                                                   id="dateFrom"
                                                                   placeholder="Date From"/>
                                                            <span class="add-on">
                                                                <i data-time-icon="icon-time"
                                                                   data-date-icon="icon-calendar"></i>
                                                                </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label for="autoRefresh">Auto Refresh</label> &nbsp;&nbsp;
                                                            <input type="checkbox" id="autoRefresh" name="autoRefresh"
                                                                   value="autoRefresh" onclick="refresh();"/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label for="clean">Clean</label> &nbsp;&nbsp;
                                                            <input type="checkbox" id="clean" name="clean"
                                                                   th:field="*{doClean}"/>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <button id="submit" type="submit" name="fullIndex"
                                                                    class="btn btn-info active  pull-right">Index
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                        <textarea class="form-control" id="fullIndexingStatus" rows="5"
                                                  placeholder="Full Indexing Status" readonly="true"></textarea>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="matchingAlgorithmSaveReport" class="tab-pane fade">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div id="matchingAlgoDiv">
                            <br/><br/>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="matchingCriteria" class="col-sm-4">Matching Criterias</label>
                                            <div class="col-sm-8">
                                                <select id="matchingCriteria"
                                                        class="form-control"
                                                        style="width: 160px;">
                                                    <option value="ALL">ALL(OCLC,ISBN,ISSN,LCCN)</option>
                                                    <option value="OCLC">OCLC</option>
                                                    <option value="ISBN">ISBN</option>
                                                    <option value="ISSN">ISSN</option>
                                                    <option value="LCCN">LCCN</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br/><br/><br/>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <button id="saveReport" type="button" onclick="saveReport()"
                                                        class="btn btn-info active  pull-right">Save Report
                                                </button>
                                            </div>
                                        </div>
                                        <br/><br/><br/>
                                        <div class="form-group col-sm-12">
                                        <textarea class="form-control" id="matchingAlgorithmStatus" rows="5"
                                                  placeholder="Matching Algorithm Status" readonly="true"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="generateReports" class="tab-pane fade">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div id="reportsDiv">
                            <br/><br/>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div th:fragment="reports-form" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
                                            <form id="reports-form" name="reports-form" class="form-horizontal" action="#"
                                                  th:object="${solrIndexRequest}" method="post" enctype="multipart/form-data">

                                                <fieldset>
                                                    <div class="form-group">
                                                        <label for="processType" class="col-sm-4">Process Type</label>
                                                        <div class="col-sm-8">
                                                            <select id="processType" class="form-control" style="width: 160px;" th:onchange="'javascript:showOrHideFields()'"
                                                                    th:field="*{processType}">
                                                                <option value="SolrIndex">Solr Index</option>
                                                                <option value="MatchingAlgorithm">Matching Algorithm</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div id="matchingCriteriaDiv" class="form-group">
                                                        <label for="matchingCriteriaForReports" class="col-sm-4">Matching Criterias</label>
                                                        <div class="col-sm-8">
                                                            <select id="matchingCriteriaForReports"
                                                                    class="form-control"
                                                                    style="width: 160px;"
                                                                    th:field="*{matchingCriteria}">
                                                                <option value="ALL">ALL(OCLC,ISBN,ISSN,LCCN)</option>
                                                                <option value="OCLC">OCLC</option>
                                                                <option value="ISBN">ISBN</option>
                                                                <option value="ISSN">ISSN</option>
                                                                <option value="LCCN">LCCN</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="reportType" class="col-sm-4">Report Type</label>

                                                        <div class="col-sm-4">
                                                            <select id="reportType"
                                                                    class="form-control"
                                                                    style="width: 160px;"
                                                                    th:field="*{reportType}">
                                                                <option value="SolrIndexException">SolrIndexException</option>
                                                                <option value="Matching">Matching</option>
                                                                <option value="Exception">Exception</option>
                                                                <option value="Summary">Summary</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div id="reportInstitutionNameDiv" class="form-group">
                                                        <label for="reportInstitutionName" class="col-sm-4">Institution</label>

                                                        <div class="col-sm-4">
                                                            <select id="reportInstitutionName"
                                                                    class="form-control"
                                                                    style="width: 160px;"
                                                                    th:field="*{owningInstitutionCode}">
                                                                <option value="ALL">ALL</option>
                                                                <option value="PUL">PUL</option>
                                                                <option value="CUL">CUL</option>
                                                                <option value="NYPL">NYPL</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="transmissionType" class="col-sm-4">Transmission Type</label>

                                                        <div class="col-sm-4">
                                                            <select id="transmissionType"
                                                                    class="form-control"
                                                                    style="width: 160px;"
                                                                    th:field="*{transmissionType}">
                                                                <option value="FileSystem">File System</option>
                                                                <option value="FTP">FTP</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="createdDate" class="col-sm-4">Date</label>

                                                        <div class="col-sm-4">
                                                            <input type="text" th:field="*{createdDate}"
                                                                   class="form-control bfh-number"
                                                                   id="createdDate"
                                                                   placeholder="Date"/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-4"></label>
                                                        <div class="col-sm-4">
                                                            <button id="report" type="submit" name="report"
                                                                    class="btn btn-info active">Generate Report
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <br/><br/><br/>
                                                    <div class="form-group col-sm-12">
                                                        <textarea class="form-control" id="reportStatus" rows="5"
                                                                  placeholder="Report Status" readonly="true"></textarea>
                                                    </div>

                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>